.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

**/*.quarto_ipynb

labs/student/
videos/
labs/note-updated/
code-review/
notes/
portfolio/
slides/not-updated/
videos/
weeks/not-updated/
group-actvitites/not-updated/

