.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

**/*.quarto_ipynb

labs/student/
videos/
/labs/
/code-review/
/notes/
/portfolio/
/slides/
/videos/
/weeks/not-updated/
/group-actvitites/not-updated/
