.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

**/*.quarto_ipynb



labs/student/not-updated/
labs/instructor/not-updated
slides/not-updated/
weeks/not-updated/
group-actvitites/not-updated/
videos/
code-review/
notes/
portfolio/
